<!doctype html>
<title>Stably Token Supply</title>
<h1>Supply for token that lives at 0xA4Bdb11dc0a2bEC88d24A3aa1E6Bb17201112eBe currently it is {{name}}.</h1>
<script src="{{ script }}"></script>
<canvas id="myChart" width="400" height="170"></canvas>
<script>
var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: {{ labels|safe }},
        datasets: [{
            label: 'Total Supply',
            data: {{ data }},
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>

<h1> {{ labels }} </h1>